
.dev-title-bar {
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.dev-title-area {
    display: inline-block;
}

.dev-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999;
}

.dev-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.dev-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

@media screen and (max-width: 430px) {
    .dev-icon {
        display: none;
    }
    .dev-logo-title {
        font-size: 18px;
    }
}

.dev-right-side-controls {
    line-height: 60px;
}

.dev-right-side-controls > div {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .dev-right-side-controls > div {
        text-align: right;       
    }
    .dev-logo-area {
        text-align: left;
    }
}

.dev-collapsed-menu {
    display: inline-block;
    height: 100%;
}

.dev-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;
}

.dev-view {
    margin-left: 200px;
    padding: 20px;
    background-color: #ccc;
    min-height: 100vh;
    overflow: auto;
}

.dev-view-full-width {
    margin-left: 0;
}
